ssl_expiry.json
{
  "name": "ssl expiry",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1fk7xQiCKDcd5MrJNFtQ1kqYv7UgahwP6LhAht-okXJQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1fk7xQiCKDcd5MrJNFtQ1kqYv7UgahwP6LhAht-okXJQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "value": {
            "URL": "={{ $json.result.host }}",
            "Days Left": "={{ $json.result.days_left }}",
            "Valid From": "={{ $json.result.valid_from }}",
            "Valid Till": "={{ $json.result.valid_till }}"
          },
          "schema": [
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Valid From",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Valid From",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Valid Till",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Valid Till",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Days Left",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Days Left",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URL"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "21938d2a-1485-4fb4-a5ab-4f9fa49362e3",
      "name": "URLs to Monitor",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1680,
        520
      ],
      "typeVersion": 4.5,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EYHqD8h3KDFk49ji",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1fk7xQiCKDcd5MrJNFtQ1kqYv7UgahwP6LhAht-okXJQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1fk7xQiCKDcd5MrJNFtQ1kqYv7UgahwP6LhAht-okXJQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "id": "40125ac4-3fed-45ec-a3a2-c0fda8de3a55",
      "name": "Fetch URLs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        980,
        780
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EYHqD8h3KDFk49ji",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://ssl-checker.io/api/v1/check/{{ $json[\"URL\"].replace(/^https?:\\/\\//, \"\").replace(/\\/$/, \"\") }}",
        "options": {}
      },
      "id": "9f4cc836-967d-4fe1-ad94-6943c1eb1d53",
      "name": "Check SSL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1240,
        780
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ee6e2ce8-569a-4f1f-91b5-2c55f605a16b",
              "operator": {
                "type": "number",
                "operation": "lte"
              },
              "leftValue": "={{ $json.result.days_left }}",
              "rightValue": 30
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "afb5e2c2-0f29-4a2a-9943-adc20ce0bc8a",
      "name": "Expiry Alert",
      "type": "n8n-nodes-base.if",
      "position": [
        1680,
        1000
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fromEmail": "admin@gmail.com",
        "toEmail": "=nadeem.ahamed@sjinnovation.com",
        "subject": "=SSL Expiry - {{ $json.result.days_left }} Days Left - {{ $json.result.host }}",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f4f4f9;\n            color: #333;\n            margin: 0;\n            padding: 0;\n        }\n        .container {\n            width: 100%;\n            max-width: 600px;\n            margin: 20px auto;\n            padding: 20px;\n            background-color: #ffffff;\n            border-radius: 8px;\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n        }\n        .header {\n            text-align: center;\n            color: #4CAF50;\n        }\n        .header h1 {\n            font-size: 24px;\n            margin: 0;\n        }\n        .message {\n            font-size: 16px;\n            margin: 20px 0;\n            padding: 10px;\n            background-color: #e3f2fd;\n            border-left: 5px solid #2196F3;\n        }\n        .highlight {\n            color: #d32f2f;\n            font-weight: bold;\n        }\n        .footer {\n            text-align: center;\n            font-size: 14px;\n            color: #888;\n            margin-top: 30px;\n        }\n        .footer a {\n            color: #2196F3;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>SSL Certificate Expiry Notice</h1>\n        </div>\n        <div class=\"message\">\n            <p>Dear Team,</p>\n            <p>The SSL certificate for the website <strong>{{ $json.result.host }}</strong> is set to expire in <span class=\"highlight\">{{ $json.result.days_left }}</span> days.</p>\n            <p>Please take the necessary actions to renew the certificate and ensure uninterrupted service.</p>\n        </div>\n        <div class=\"footer\">\n            <p>Best regards,<br>The IT Operations Team</p>\n        </div>\n    </div>\n</body>\n</html>\n",
        "options": {}
      },
      "id": "c6fb5f81-12fd-4b17-ab50-c31f1ad5a54f",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1980,
        780
      ],
      "webhookId": "64bfb82b-e70f-4831-87b9-599d9187ec4a",
      "typeVersion": 2.1,
      "credentials": {
        "smtp": {
          "id": "Ar6L4uh0GxqvdMxV",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 15,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "f0fde9a9-5d31-47ad-a2aa-1a7432d27f70",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        720,
        780
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 🔐 SSL Expiry Notifier (No Paid APIs)\n\n### 👤 Who is this for?\nThis workflow is designed for IT admins, DevOps engineers, and web professionals who need to **monitor SSL certificate expirations** across multiple domains — **without relying on paid APIs**.\n\n---\n\n### 🧩 What It Does\n1. **Daily Trigger** runs the workflow every morning.\n2. **Google Sheets Integration** fetches the list of website URLs to monitor.\n3. **Free SSL API Check** (`ssl-checker.io`) is used to retrieve certificate validity data.\n4. **Certificate Details** (valid from, valid till, days left) are updated back into the same Google Sheet.\n5. **If Condition** checks if the SSL certificate expires in ≤7 days.\n6. **Email Alert** is sent automatically for soon-to-expire certificates.\n\n---\n\n### ⚙️ Setup Instructions\n1. **Google Sheets**:  \n   - Clone the sample sheet or use your own.  \n   - Update the Sheet URL in the `Fetch URLs` and `Update Sheet` nodes.  \n   - Ensure it contains a `URL` column.\n\n2. **Credentials**:  \n   - Connect your **Google account** (for Sheets) and **SMTP credentials** (for email notifications).\n\n3. **Customize**:  \n   - Change the alert threshold in the **IF node** (currently set to 7 days).  \n   - Modify recipient list and message style in the **Send Email** node.\n\n---\n\n### 🧠 Notes\n- Uses **ssl-checker.io**, a **free public API** — no paid services needed.  \n- Flexible and self-hosted monitoring solution.  \n- Ideal for small teams managing multiple domains.\n",
        "height": 1240,
        "width": 500
      },
      "id": "397b1199-b6d0-421e-ae4b-14c3faae86e1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 🕒 Daily Trigger\nRuns the workflow every day at 8:00 AM.  \nAdjust the time or frequency as needed using cron or interval settings.\n",
        "height": 320
      },
      "id": "cb3fea16-4239-4f0e-9874-a73cacb1a9fd",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 📄 Fetch URLs\nReads website URLs from a Google Sheet.  \nMake sure the sheet has a column named `URL` containing the domains you want to monitor.\n",
        "height": 320
      },
      "id": "af1f9d4a-54dd-4f38-9d9b-ae1b9ec3dd70",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        920,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 🔍 Check SSL\nQueries `ssl-checker.io` (free API) for SSL certificate data of each domain.  \nReturns valid_from, valid_till, days_left, and host info.\n",
        "height": 320
      },
      "id": "fca02335-4d7d-4e62-b551-2358dc8c8b86",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### ⚠️ Expiry Alert\nChecks if `days_left` is less than or equal to 7.  \nOnly domains that meet this condition will trigger an email alert.\n",
        "height": 300
      },
      "id": "00f5e063-f762-4762-8171-f141280b5d79",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1620,
        840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 📧 Send Email\nSends an email to the specified recipients if a certificate is expiring soon.  \nThe message includes days left and the domain name in an HTML template.\n",
        "height": 320
      },
      "id": "2e7af658-ca9a-4506-b32f-42e6d483ed2a",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 🔄 Update Sheet\nUpdates the original Google Sheet with new certificate data:\n- Valid From\n- Valid Till\n- Days Left  \nMatches by URL to ensure correct row is updated.\n",
        "height": 400
      },
      "id": "2964aba1-b745-4234-b4da-74431974bda0",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1620,
        320
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Check SSL": {
      "main": [
        [
          {
            "node": "URLs to Monitor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expiry Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URLs": {
      "main": [
        [
          {
            "node": "Check SSL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expiry Alert": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a183605-eff9-479e-a2f2-1ff7deea90d9",
  "meta": {
    "instanceId": "1aa66cfdc3ed9f6fcf5da2de96eb038917ea7b6e9021c5704311982113055f77"
  },
  "id": "Os9zn5ngV91CXBQW",
  "tags": []
}