WHM_dev_Server_Health_Check.json
{
  "name": "WHM dev Server Health Check",
  "nodes": [
    {
      "parameters": {
        "interval": 24,
        "unit": "hours"
      },
      "name": "Trigger Every Hour",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -240,
        -220
      ],
      "id": "2114706b-af5c-4364-a6de-508e61e8ecb9"
    },
    {
      "parameters": {
        "functionCode": "const reportData = $input.first().json.stdout || \"\";\nconst lines = reportData.split(\"\\n\");\n\n// Filter out unwanted lines\nconst filteredReport = lines.filter(line => \n  !line.includes(\"DEBUG\") && \n  !line.includes(\"log\") && \n  !line.includes(\"Cannot serve directory\") &&\n  !line.includes(\"Permission denied\") &&\n  !line.includes(\"200\") &&\n  !line.includes(\"invalid URI path\") &&\n  !line.includes(\"404\") &&\n  !line.includes(\"client denied by server configuration\") &&\n  !line.includes(\"script not found or unable to stat\") &&\n  !line.includes(\"400\")\n);\n\n// Function to remove duplicate lines\nconst removeDuplicates = (array) => {\n  return [...new Set(array)];\n};\n\n// Remove duplicates from the filtered report\nconst uniqueReport = removeDuplicates(filteredReport);\n\n// Convert to JSON format\nconst jsonReport = {\n  title: \"Server Health Report\",\n  content: uniqueReport\n};\n\nreturn [{ json: { report: jsonReport } }];"
      },
      "name": "Filter and Format Report1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        340,
        220
      ],
      "id": "3478c6da-7364-47b9-863c-642ec994ad1f"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        220
      ],
      "id": "f1522cb5-8d8a-41df-9e40-55fedf145bcc",
      "name": "When chat message received",
      "webhookId": "6d01ac61-60f4-4237-ae6d-739743a391a3"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Run the commands I have mentioned in the next flow and get the report back to me so that we can filter the report. You have to answer my question about the report, like Top IPs hitting server, etc.\nPlease give me the summary of the report."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -200,
        220
      ],
      "id": "efdd31e8-06f8-4b26-83b9-73f7cce8e95a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.report }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=show me the generated report\nGive me the summary of the report\nFetch the latest report from google drive and analyse it\n\nformat it properly"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        660,
        -20
      ],
      "id": "4e600265-bb22-4fb7-8693-62ef6b262202",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xXhsLUuglNpwMPgIHQ-WpUTk_tNqw7iw",
          "mode": "list",
          "cachedResultName": "server reports",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xXhsLUuglNpwMPgIHQ-WpUTk_tNqw7iw"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1060,
        360
      ],
      "id": "394f53e7-82d0-4d79-bb55-5e4542224d11",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DepMRuxhkRpKv9iF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "report",
        "options": {
          "fileName": "=Dev_server_health_checkup_{{$now.format('DD')}}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        680,
        360
      ],
      "id": "71f960da-97c0-4611-9539-d09438f6e33c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -180,
        420
      ],
      "id": "b891fc8d-82ce-4afd-a6e6-583a588d5dbf",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "JxB8Xg0cRLJwNhpR",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo su -c \"cd /home/server-health/ && ./server-health.sh && cat report-$(date +%F).txt\""
      },
      "name": "Run Health Check",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        140,
        220
      ],
      "id": "a99ae166-808f-4e86-8e56-961772f2ba27",
      "credentials": {
        "sshPrivateKey": {
          "id": "eWRKqB4kxoR9CTqK",
          "name": "WHM Dev Server"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        660,
        160
      ],
      "id": "5a4aa5f9-ebc6-4b4c-9e20-8d143e923ab1",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "laKlhjUUsAzzKUAJ",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "nadeem.ahamed@sjinnovation.com",
        "toEmail": "nadeem.ahamed@sjinnovation.com",
        "subject": "Server Health Checkup",
        "emailFormat": "text",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1040,
        -200
      ],
      "id": "f87ae60f-e74e-4aff-a184-9ccedb2a9320",
      "name": "Send Email",
      "webhookId": "bd630f34-1c2b-4b00-8eb6-0bda70fa5571",
      "credentials": {
        "smtp": {
          "id": "Ar6L4uh0GxqvdMxV",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {
          "fileName": "=server_health_checkup_summary{{$now.format('DD')}}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1060,
        80
      ],
      "id": "355889d5-c3a6-4f26-ac02-ee596fd4133c",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xXhsLUuglNpwMPgIHQ-WpUTk_tNqw7iw",
          "mode": "list",
          "cachedResultName": "server reports",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xXhsLUuglNpwMPgIHQ-WpUTk_tNqw7iw"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        80
      ],
      "id": "0032bf7c-c6f5-4f0b-9fe4-77e5f14b322b",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DepMRuxhkRpKv9iF",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Every Hour": {
      "main": [
        [
          {
            "node": "Run Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter and Format Report1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Run Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run Health Check": {
      "main": [
        [
          {
            "node": "Filter and Format Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        []
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9cb98a1f-aebb-4c89-ba1a-f382cfee2aaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aa66cfdc3ed9f6fcf5da2de96eb038917ea7b6e9021c5704311982113055f77"
  },
  "id": "i7AePmFio0Q7kX3o",
  "tags": []
}